/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}

/* Text colors */
.text-white {
    color: white;
}
.text-light-gray {
    color: rgb(114, 114, 114);
}

/* Text sizes */
.section-title {
    font-size: 2rem;
    font-weight: bold;
}

/* Buttons */
.btn {
    color: gray;
    padding: 0.8rem 3rem;
    margin-right: 1.5rem;
    border-radius: 30px;
    border: 1px solid white;
    font-weight: bold;
    font-size: 1rem;
}

/* Hover effects */
main #nav-menu a:hover, #main-nav-menu a:hover, #call-to-action a:hover {
    color: white;
}

/* WRAPPER */
#wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
#main {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 100px);
}

.logo-lg {
    width: 70%;
}

main #nav-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 350px;
    height: calc(100vh - 100px);
    padding: 1.2rem 1rem 0 1rem;
    color: gray;
}

    /* Border to selected element */
    .border-left {
        background-color: #adff2f;
        height: 100%;
        width: 2px;
        position: absolute;
        left: -1rem;
        top: 0;
    }
    #nav-menu a[selected] {
        position: relative;
        color: white;
    }

main #nav-menu p {
    padding-left: 0.3rem;
}
/* nav-menu-xs */
main #nav-menu-xs {
    display: none;
}

/* Menu links */
#menu-links {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}
#menu-links a {
    display: flex;
    padding: 0.25rem 0;
    align-items: center;
    color: lightgray;
}
#menu-links a img {
    width: 25px;
}

/* Playlist */
#playlist {
    height: 63%;
}
#playlist h3 {
    font-weight: bold;
    font-size: 1rem;
}

#playlist a {
    display: flex;
    padding: 0.25rem 0;
    align-items: center;
    color: lightgray;
    font-size: 1rem;
}

#playlist i {
    font-size: 2.5rem;
    padding-right: 0.5rem;
}

/* list-playlist */
#list-playlist {
    overflow-y: auto;
    padding-top: 1rem;
    max-height: 60%;
}
#list-playlist a {
    padding-top: 0.8rem;
    font-size: 0.8rem;
}

/* download-app */
#download-app {
    justify-self: flex-end;
    padding-bottom: 150px;
}
#download-app a {
    display: flex;
    padding: 0.25rem 0;
    align-items: center;
    color: gray;
}
#download-app img {
    width: 15px;
}
#download-app a .profile-icon {
    border-radius: 15px;
}

/* Main content */
#main-content {
    height: 100%;
    width: 100%;
    background-color: #141922;
    color: lightgray;
    overflow-y: auto;
}

/* Call to action */
main #main-content #call-to-action{
    z-index: 1000;
    width: calc(100% - 218px);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 65%;
}

/* Container */
#sections-container{
    width: 100%;
    margin-top: 100px;
    padding: 1.4rem;
}

/* Nav menù container */
#main-nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
#main-nav-menu a {
    color: gray;
    font-size: 0.8rem;
    font-weight: bold;
}

    /* Border to selected element */
    .border-bottom {
        background-color: #adff2f;
        height: 2px;
        width: 50%;
        position: absolute;
        left: 50%;
        bottom: -0.5rem;
        transform: translate(-50%);
    }

    #main-nav-menu a[selected] {
        position: relative;
        color: white;

    }

/* Sections width and margin */
#recently-played, #created-for-me, #popular-artists, #rankings{
    width: 100%;
    margin: 2rem 0;
}

#created-for-me p, #popular-artists p{
    padding-top: 0.5rem;
}

/* Items */
.item-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.item-container .item{
    width: calc(100% / 6 - 1rem);
    cursor: pointer;
    margin: 2rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Box image */
.item .box-image{
    position: relative;
}
.item .box-image i{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    font-size: 3rem;
}

.item .box-image img{
    width: 100%;
}

/* Hover effects on box image */
.item:hover .box-image i{
    opacity: 80%;
}
.item:hover .box-image i:hover{
    opacity: 100%;
}
.item:hover .box-image img{
    filter: brightness(.4);
}

/* Items text */
.item h3 {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.item p {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    color: gray;
}

/* Footer/Controller general rules */
#controller {
    width: 100%;
    height: 100px;
    background-color: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;  
}
#controller-left { 
    max-width: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#controller-middle { 
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#controller-right { 
    max-width: 282px; 
}

/* Controller-left */
#controller-left img{
    width: 50px;
}
#controller-left #current-song {
    display: flex;
    align-items: center;
    text-align: center;
}
#controller-left #current-song .artist-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.8rem;
}
#controller-left #current-song .artist-info p {
    font-size: 0.7rem;
}
#controller-left #current-song #reactions-box {
    display: flex;
    gap: 0.6rem;
    color: gray;
    padding-left: 1rem;
}
#reactions-box i {
    width: 1rem;
}

/* Controller-middle */
#controller-middle #controller-middle-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    padding-bottom: 0.5rem;
}
#controller-middle #controller-middle-buttons i {
    font-size: 1rem;
}
#controller-middle #controller-middle-buttons #play-button {
    font-size: 1.5rem;
}
#controller-middle #controller-middle-timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
#controller-middle-timeline .slider{
    width: 400px;
}

/* Controller right */
#controller-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Controller hover-effects */
#controller i{
    cursor: pointer;
}
#controller i:hover{
    transform: scale(120%);
}
#current-song h3:hover, #artist-info p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.slider:hover {
    color: #a3f22d;
}

/**************** Media Queries *****************/
/* Device size MD */
@media screen and (max-width: 1178px) and (min-width:879px){
    .item-container .item{
        width: calc(100% / 4 - 1rem);
    }
}

/* Device size S */
@media screen and (max-width: 878px){
    .item-container .item{
        width: calc(100% / 2 - 1rem);
    }
    .item-container{
        row-gap: 0;
    }
    #controller-left {
        width: 30%;
    }
    #reactions-box {
        display: block;
    }
    #controller-middle {
        width: 30%;
    }
    #controller-middle-timeline {
        width: 100%;
    }
    #controller-right {
        width: 30%;
    }
}

/* Device size XS */
@media screen and (max-width: 600px){
    .item-container .item{
        width: calc(100% - 1rem);
    }
    .item-container{
        row-gap: 0;
    }
    main #nav-menu {
        display: none;
    }
 
    main #nav-menu-xs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        width: 100px;
        padding-top: 0.8rem;
    }

    main #nav-menu-xs img {
        width: 2rem;
    }

    main #main-content #call-to-action {
        width: calc(100% - 82px);
    }
}